*{
    margin: 0;
    padding: 0;
}

.manu-container{
background-color: rgba(0, 0, 0, 0.897);
padding: 15px;
color: white;
list-style: none;
display: flex;
align-items: center;
justify-content: space-around;
}

.manus{
    display: flex;

}

.manu-logo{
 width: 120px;
 }

 .item{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 20px;
    font-size: 18px;
    transition: all 1s;
 }

 .item:hover{
    color: brown;
    cursor: pointer;
 }

 .banner-pic{
    width: 300px;
 }

 .banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(img/background.png),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
 }

 .title{
    font-size: 50px;
    font-weight: bold;
 }

 .discription{

    font-size: 18px ;
    margin-top: 15px;
    margin-bottom: 15px;
 }

 .banner-btn{
    padding: 10px 20px ;
    background-color: red;
    color: white;
    border: none;
    transition: all 1s;
  
 }

 .banner-btn:hover{
    background-color: gold;
    color: black;
    cursor: pointer;
 }

 .about-conatiner{
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    padding: 10px;

 }

 .about-pic{
    width: 300px;
 }

 .title-1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
   

 }

 .about-text h1{
    font-size: 25px;
    font-weight: bold;
 }
 .about-text p{
    margin-top: 15px;
    margin-bottom: 15px;
 }

 .about-btn{ padding: 10px 20px ;
    background-color: red;
    color: white;
    border: none;
    transition: all 1s;}

    .about-btn:hover{ background-color: gold;
        color: black;
        cursor: pointer;}


.box{
    margin-top: 20px;
    width:230px ;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}

.icon{
    width: 70px;
}

.service-btn{
    background-color: gray;
    padding: 10px 20px ;
    margin-top: 10px;
    border: none;
 
}

.service-title{
    margin: 10px;
 
}

.service-discription{
padding: 10px;
}

.service-container{
    background-image: url(img/background.png),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);

}

.box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.title-2{
    color: white;
    padding-top: 50px;
    text-align: center;
}